{%load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Cheshma UG is a Germany-based trading company specializing in the import and wholesale of carefully selected products, with a current focus on authentic goods from Afghanistan." />
    <meta name="keywords" content="Afghani Products,Traditional Afghan items,Handicrafts, Hextiles, Dried fruits, and Spices" />
    <title>Cheshma Imprint</title>
    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.jpg' %}" rel="icon" />
    <link href="{% static 'assets/img/favicon.jpg' %}" rel="apple-touch-icon" />
  </head>

  <body class="index-page">
    <header
      style="background-color: rgba(21, 34, 43, 0.85)"
      id="header"
      class="header d-flex align-items-center fixed-top"
    >
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a
          href="{% url 'home' %}"
          class="logo d-flex align-items-center me-auto"
        >
          <img  src="{% static 'assets/img/Logo.png' %}" alt="" />
          <h1 class="sitename">Cheshma</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li>
              <a data-translate="home" href="{% url 'home' %}">Home</a>
            </li>

            <li>
              <a href="" data-translate="imprint" class="active">Imprint</a>
            </li>

            <li>
              <select id="langSelect" class="p-1 rounded-1">
                <option value="en"><span class="ms-3">🇬🇧</span> English</option>
                <option value="de"><span class="ms-3">🇩🇪</span> Deutsch</option>
              </select>
            </li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </header>
    <br /><br />
    <div class="container my-5">
      <div id="route_imprent" style="margin-top: 110px" class="fixed-top p-1">
        <ul>
          <li style="display: inline-block">
            <a href="{% url 'home' %}"><i class="bi bi-house fs-6"></i> ></a>
          </li>
          <li style="display: inline-block">
            <a
              style="color: rgba(21, 34, 43, 0.85)"
              data-translate="imprint"
              href=""
              >Imprint</a
            >
          </li>
        </ul>
      </div>
      <br> <br>
      <div
        style="background: linear-gradient(#1783ff, #f3a984)"
        class="mt-2 p-2 ms-2 rounded-2 shadow-md"
      >
        <h1
          data-translate="imprint_title"
          id="imprint_title"
          class="text-white"
        >
          Site operator of Cheshma.eu and responsible for all content
        </h1>
      </div>
      <div>
        <h4 id="imprint_title_2" class="p-1 mt-2 fw-bolder">
          Cheshma UG (haftungsbeschränkt)
        </h4>
        <h6 class="ms-3 p-1">Schleebergstraße 29</h6>
        <h6 class="ms-3 p-1">59320 Ennigerloh</h6>
        <h6 class="ms-3 p-1">Germany</h6>
        <br>
        <h6 class="ms-3 p-1">E-Mail: <a href="">info.cheshma@gmail.com</a></h6>
        <h6 class="ms-3 p-1">
          Tel: <a href="tel:+4915510945230">+49 155 10945230</a>
        </h6>
        <h6 class="ms-3 p-1">

          Website: <a href="https://cheshma.eu">Cheshma.eu</a>
        </h6>
        <h4 data-translate="man" class="ms-2 p-1 fw-bolder">Managing Director</h4>
        <h5 class="ms-3 p-1">Sayed Masihullah Sadat</h5>
        <br>
        <h4 data-translate="com" class="ms-2 p-1 fw-bolder">Commercial Register</h4>
        <h5 data-translate="addhr" class="ms-3 p-1">District Court of Müntser : HRB 22414</h5>

         <h4 data-translate="sal" class="ms-2 p-1 fw-bolder">Sales Tax Identification Number (USt-IdNr) :</h4>
            <h5 class="ms-3 p-1">VAT ID: xxxxxxxxx</h5>

        <h4 data-translate="copy" class="ms-2 p-1 fw-bolder">Copyright</h4>
        <h6 class="ms-3 p-1">2025 © Cheshma UG (haftungsbeschränkt). <span data-translate="allright">All rights reserved.</span> </h6>
        <p style="text-justify: auto" class="p-2" data-translate="imprint_p1">
          All content on this website, including text
            images, logos, graphics, and other materials, as
            well as all intellectual property rights-such as
            copyrights, trademarks, and trade dress-are the
            exclusive property of Cheshma UG
            (haftungsbeschränkt) or its affiliates.
            The reproduction, distribution, modification, or
            commercial use of any content from this site is
            strictly prohibited without prior written consent
            from Cheshma UG (haftungsbeschränkt). These
            rights apply to all forms, media, and
            technologies existing now or developed in the
            future.
        </p>
         <p style="text-justify: auto" class="p-2" data-translate="imprint_p2">
            Any third-party materials, images, or trademarks
            featured on this website remain the property of
            their respective owners and are used with
            permission. Unauthorized use or duplication of
            website content may result in legal action under
            German copyright law (Urheberrechtsgesetz -UrhG).
        </p>


      </div>
    </div>

    <footer id="footer" class="footer dark-background">
      <div class="container footer-top">
        <div class="row gy-4 gap-4">
          <div class="col-lg-4 col-md-6 footer-about">
           <a
              href="{% url 'home' %}"
              class="logo d-flex align-items-center"
            >
              <span class="sitename">Cheshma UG (Haftungsbeschränkt)</span>
            </a>

            <div class="footer-contact pt-3">
              <img
                class="img-fluid rounded-2"
                src="{% static 'assets/img/foo.png' %}"
                alt=""
              />
            </div>

            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links p-3">
            <h4>Useful Links</h4>
            <ul class="fw-bolder">
              <li>
                <i class="bi bi-chevron-right"></i>
                <a data-translate="home" href="{% url 'home'%}">Home</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a data-translate="our_company" href="{% url 'home'%}#about"
                  >Our Company</a
                >
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a data-translate="services" href="{% url 'home'%}#services"
                  >Services</a
                >
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a data-translate="products" href="{% url 'home'%}#product"
                  >Our Products</a
                >
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a data-translate="our_team" href="{% url 'home'%}#team"
                  >Our Team</a
                >
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a data-translate="client" href="{% url 'home'%}#clients"
                  >Our Clients</a
                >
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a
                  target="_blank"
                  data-translate="imprint"
                  href="{% url 'imprint' %}"
                  >Imprint</a
                >
              </li>
            </ul>
          </div>

         <div class="col-lg-4 col-md-12 footer-newsletter">
          <h3 class="p-2" data-translate="ftitle_1">Let's work together</h3>
          <h5 data-translate="ftitle_2" class="p-2">Whether you have questions, are planning a project, or just want to learn more</h5> <a   href="{% url 'home' %}#contact"><span class="fw-bolder fs-5 p-2 pe-0" data-translate="ftitle_3">Contact Us</span></a><span class="fs-5 p-2 ps-0"  data-translate="ftitle_4">, and we'll find the best solution together.</span>
        </div>
        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>
          2025 © <span>Copyright</span>
          <strong class="px-1 sitename">Cheshma UG (Haftungsbeschränkt)</strong>

        </p>

      </div>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/translates.js'%}"></script>
  </body>
</html>
