{%load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{{products.name}}</title>
     <meta name="description" content="Cheshma UG is a Germany-based trading company specializing in the import and wholesale of carefully selected products, with a current focus on authentic goods from Afghanistan." />
    <meta name="keywords" content="Afghani Products,Traditional Afghan items,Handicrafts, Hextiles, Dried fruits, and Spices" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.jpg' %}" rel="icon" />
    <link href="{% static 'assets/img/favicon.jpg' %}" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
  </head>
  <body class="index-page">
    <header
      style="background-color: rgba(21, 34, 43, 0.85)"
      id="header"
      class="header d-flex align-items-center fixed-top"
    >
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a
          href="{% url 'home' %}"
          class="logo d-flex align-items-center me-auto"
        >
          <img  src="{% static 'assets/img/Logo.png' %}" alt="" />
          <h1 class="sitename">Cheshma</h1>
        </a>
      </div>
    </header>
    <br /><br />
    <div class="container my-5">
      <div style="margin-top: 110px" class="fixed-top p-1">
        <ul>
          <li style="display: inline-block">
            <a href="{% url 'home' %}">Home ></a>
          </li>
          <li style="display: inline-block">
            <a href="{% url 'product' %}">Products ></a>
          </li>
          <li style="display: inline-block; color: rgba(34, 34, 34, 0.5)">
            {{products.name}}
          </li>
        </ul>
      </div>
      <br> <br>
      <!-- product Details Section -->
      <div class="row ">
        <div class="col-lg-8 mx-auto mt-3">
          <h1 class="mb-3 ms-2">{{products.name}}</h1>
          <!-- Product Image -->
          {%if products.image %}
          <img
            src="{{products.image.url}}"
            class="img-fluid rounded mb-4"
            alt="News Image"
          />
          {% endif%}
          <p class="text-muted">
            Category : <span class="fw-bold">{{products.category_name}}</span>
          </p>

          <!-- product Description -->
          <p class="lead">{{products.description}}</p>
        </div>
      </div>
    </div>
    <footer id="footer" class="footer dark-background">
      <div class="container footer-top">
        <div class="row gy-4 gap-4">
          <div class="col-lg-4 col-md-6 footer-about">
          <a
              href="{% url 'home' %}"
              class="logo d-flex align-items-center"
            >
              <span class="sitename">Cheshma UG (Haftungsbeschränkt)</span>
            </a>

            <div class="footer-contact pt-3">
              <img
                class="img-fluid rounded-2"
                src="{% static 'assets/img/foo.png' %}"
                alt=""
              />
            </div>

            <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links p-3">
            <h4>Useful Links</h4>
            <ul class="fw-bolder">
              <li>
                <i class="bi bi-chevron-right"></i>
                <a data-translate="home" href="{% url 'home'%}">Home</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a data-translate="our_company" href="{% url 'home'%}#about"
                  >Our Company</a
                >
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a data-translate="services" href="{% url 'home'%}#services"
                  >Services</a
                >
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a data-translate="products" href="{% url 'product'%}"
                  >Our Products</a
                >
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a data-translate="our_team" href="{% url 'team'%}"
                  >Our Team</a
                >
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a data-translate="client" href="{% url 'home'%}#clients"
                  >Our Clients</a
                >
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a
                  target="_blank"
                  data-translate="imprint"
                  href="{% url 'imprint' %}"
                  >Imprint</a
                >
              </li>
            </ul>
          </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h3 class="p-2" data-translate="ftitle_1">Let's work together</h3>
          <h5 data-translate="ftitle_2" class="p-2">Whether you have questions, are planning a project, or just want to learn more</h5> <a   href="{% url 'contact' %}"><span class="fw-bolder fs-5 p-2 pe-0" data-translate="ftitle_3">Contact Us</span></a><span class="fs-5 p-2 ps-0"  data-translate="ftitle_4">, and we'll find the best solution together.</span>
        </div>
        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>
          2025 © <span>Copyright</span>
           <strong class="px-1 sitename">Cheshma UG (haftungsbeschränkt)</strong>

        </p>

      </div>
    </footer>
  </body>
</html>
